body {
    font-family: sans-serif;
    font-size: 16px;
    background: white;
}

a {
    color: black;
}

a:hover {
    color: black;
}


/* Mengatur tampilan navigasi */

.collapse navbar-collapse {
    background-color: #C19A6B;
}

.navbar {
    background-color: #C19A6B;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 1%;
}

.navbar-brand {
    color: #FFF;
}

.nav-item {
    font-style: bold;
    display: flex;
    float: right;
}

.nav-link {
    color: #FFF;
}


/* carousel */

.MyCarousel {
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    padding-top: 6%;
}

.carousel-item {
    max-height: 600px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0);
}

.carousel-caption h3 {
    color: #fff;
}

.carousel-caption p {
    color: #fff;
}

@media only screen and (max-width:1000px) {
    .MyCarousel {
        padding-top: 10%;
    }
}

@media only screen and (max-width:400px) {
    .MyCarousel {
        padding-top: 20%;
    }
}


/* footer */

.footer {
    text-align: center;
}


/* hiding div */


/* .hide-div1 {
    display: none;
}

.hide-div2 {
    display: block;
}

@media only screen and (max-width:992px) {
    .hide-div1 {
        display: block;
    }
    .hide-div2 {
        display: none;
    }
}

@media only screen and (min-width:992px) {
    .hide-div1 {
        display: none;
    }
    .hide-div2 {
        display: block;
    }
} */


/* carding  */

.card {
    width: 100%;
}

.card-container {
    margin-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.card img {
    width: 100%;
}

.card-title {
    text-align: center;
    font-size: 16pt;
}

[class*="col-"] {
    width: 100%;
    float: center;
}


/* media carousel */

@media only screen and (max-width: 1100px) {
    .MyCarousel {
        padding-top: 10%;
    }
}

@media only screen and (max-width: 500px) {
    .MyCarousel {
        padding-top: 14%;
    }
}

@media only screen and (max-width: 390px) {
    .MyCarousel {
        padding-top: 17%;
    }
}


/*  */

@media only screen and (max-width: 768px) {
    /* For tablets: */
    .col-sm-6 {
        width: 50%;
        text-align: center;
    }
    .col-sm-12 {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .card-title {
        font-size: 10pt;
    }
    .col-m-3 {
        width: 50%;
    }
    .MyCarousel {
        padding-top: 16%;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
    .container {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}